@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto";
    letter-spacing: 0.025em;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #475569;
}

code,
kbd,
pre,
samp {
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
}
